* {
    font-family: Arial;
}

body {
    margin: 0;
}

.flex-container {
    height: 1120px;
    width: 786px; 
    display: flex;
    flex-direction: column;
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.search-bar-section {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 786px;
}

#searchbar {
    height: 90px;
    width: 576px;
    font-size: 25px;
    color: #8a8f9b;
    background-color:#F4F4F4;
    border: none;
}

#emoji-container {
    font-size: 2em;
    height: 90px;
    width: 100px;
    background-color: #F4F4F4;
    border-left: 20px solid white;
    border-right: none;
    color: white;
    margin: none;
    position: relative;
}

#car-emoji {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-button {
    height: 110px;
    width: 100px;
    background-color: #F4F4F4;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-right: 20px solid white;
    border-left: none; 
    position: relative;
}

#magnifying-glass {
    position: absolute;
    height: 40px;
    width: 40px;
    transform: translate(-50%, -50%);
}

.welcome-header-section {
    margin-bottom: 10px;
}

#welcome-header {
    font-size: 45px;
    color: white;
    width: 700px;
    margin: 40px 40px 70px 40px;
}

.booking-section {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 100px 10px;
    height: 400px;
    width: 766px;
    background-color: white;
    position: relative;
}

#booking-header {
    font-size: 40px;
    margin: 20px 0px 20px 40px
}

#availability-options {
    width: 766px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.availability-input {
    font-size: 25px;
    border: none;
    width: 340px;
    height: 80px;
    padding: 0 0 0 20px;
    background-color:  #F4F4F4;
    background-image: url(assets/calendar.png);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 30px;
}

#from-input {
    margin: 10px 5px 10px 10px;
}

#to-input {
    margin: 10px 0px 10px 5px;
}

.avilability-button {
    margin: 0 0 0 10px;
    width: 360px;
    height: 80px;
    padding: 0 0 10px 0;
    background-color: #CB4B0D;
    color: white;
    font-size: 20px;
    border: none;
}

#price-advertisement {
    font-size: 30px;
    left: 50%;
    position: relative;
    left: 120px;
}

.advertisement-section {
    display: flex;
    flex-direction: row;
    color: white;
}

.greater-than-sign {
    color: white;
    font-weight: bolder;
    font-size: 40px;
    padding: 5px;
    position: relative;
    top: 5px;
    left: 5px;
}

#greater-than-bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#purple-greater-than {
    color: #93318E;
}

.shop-online-section {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 550px;
    height: 100px;
}

.bottom-section-box {
    width: 100px;
    height: 100px;
    background-color: #93318E;
    text-align: bottom;
    position: relative;
}

#advertisement-header {
    font-size: 50px;
    margin: 0 20px 0 0;
}

#advertisement-body {
    font-size: 19px;
    margin: 10px 20px 0 0;
    font-weight: 700;
}
