* {
    font-family: Arial;
}

body {
    background-image: url(assets/background.png);
    /* background-repeat: no-repeat;
    background-size: cover;  */
    margin: 0;
}

/* .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.search-bar-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#searchbar {
    height: 80px;
    width: 586px;
    font-size: 20px;
    background-color:#F4F4F4;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-left: none;
    border-right: none;
    margin: none;
    padding: 0;
    /* border: 10px solid black; */
}

#blue-car-emoji {
    height: 80px;
    width: 100px;
    background-color: #F4F4F4;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-left: 20px solid white;
    border-right: none;
    color: white;
    margin: none;
}

#search-button {
    height: 100px;
    width: 100px;
    background-color: #F4F4F4;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-right: 20px solid white;
    border-left: none; 
}

.welcome-header-section {
    margin-bottom: 10px;
}

#welcome-header {
    color: white;
    font-size: 50px;
    margin: 40px 40px 40px 40px;
}

/* #red-car-emoji {
    display: inline;
} */

.booking-section {
    margin: 0 10px 0 10px;
    height: 500px;
    width: 766px;
    background-color: white;
}

#booking-header {
    margin-left: 40px;
}
