* {
    font-family: Arial;
}

body {
    margin: 0;
}

.flex-container {
    color: white;
    display: flex;
    justify-content: space-between;
}

.left-section {
    width: 25%;
    height: 883px;
    background-color: #013365;
}

.middle-section {
    color: black;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    background-color: #dddddd;
    height: 883px;
    width: 50%;
}

.accouncement-section {
    background-color: #fbf9e5;
    margin: 40px 20px 40px 20px;
}

#accouncement-header {
    color: #900000;
    font-weight: bolder;
    font-size: 30px;
    font-weight: 800;
    background-color: #ece17d;
    margin: 0px;
    padding: 10px;
}

#accouncement-intro {
    padding: 20px;
    margin: 5px;
    font-size: 25px;
}

#sales-line {
    font-size: 35px;
    font-weight: bolder;
    color: #013365;
    margin: 0 20px 0 20px;
}

p {
    font-size: 29px;
    padding: 0 20px 0 20px;
}

.right-section {
    width: 25%;
    height: 883px;
    background-color: #013365;
}

ul {
    padding-inline-start: 30px;
    font-size: 25px;
    font-weight: 700;
}

li {
    width: 85%;
    list-style: none;
    background-image: url(assets/arrow.png);
    background-repeat: no-repeat; 
    background-position: left;
    background-size: 30px;
    padding: 23px 0px 23px 40px;
    border-bottom: 1px dotted #dddddd;
} 
