#flex-container {
    width: 475px;
    height: 1953px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img {
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 450px;
    height: 280px;
    margin: 50px 10px 0 10px;
}

#staff {
    /* display: flex;
    flex-direction: column; */
    position: relative;
    top: 200px;
    /* left: 20px; */
    /* margin: 10px; */
    background-color: #f2f2f2;
    width: 400px;
    height: 280px;
    padding: 20px;
}
/* 
#staff-title {
    color: #333333;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

#staff-description {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333333;
} */